{% extends "users/base.html" %}

{% block content %}

  <div id="container" style="width: 75%;">
    <canvas id="score-chart" data-url="{% url 'score-chart' %}"></canvas>
  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $scoreChart = $("#score-chart");
      $.ajax({
        url: $scoreChart.data("url"),
        success: function (data) {

          var ctx = $scoreChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'score',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'score Bar Chart'
              }
            }
          });

        }
      });

    });

  </script>

{% endblock %}